
table {
	margin-bottom: 20px;
	box-shadow: 0 0px 1px rgba(0,0,0,0.1);
	border: 1px solid #eaebec;
	background: #fff;
	font-family: $secondary-font-stack;
	font-size: 16px;
	padding: 18px 30px;
	border-radius: 4px;
	text-align: left;
}

table thead {
	color: #222;
}

table tbody {
	color: #555;
}

table tr {
	border: 1px solid #eaebec;
}